<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guanghe.management.dao.mallDao.GoodsSpeciFicationDao">

    <insert id="addSpeciFication" parameterType="com.guanghe.management.entity.mallBo.GoodsSpeciFication"
            useGeneratedKeys="true" keyProperty="id">
        insert into mall_price_and_specification SET  goods_id = #{goodsId},,create_time = NOW()
        ,create_user = #{createUser},img_url=#{imgUrl},sale_count=#{saleCount}
    </insert>
    <update id="updateGoodsSpeciFication" parameterType="com.guanghe.management.entity.mallBo.GoodsSpeciFication">
        update mall_price_and_specification set price = #{price},specification=#{specification},goods_id=#{goodsId},preferential_start_time=#{preferentialStartTime}
        ,preferential_end_time=#{preferentialEndTime},stock=#{stock},preferential_price=#{preferentialPrice} where sku = #{sku}
    </update>
    <select id="queryGoodsSpeciFication" parameterType="int" resultType="com.guanghe.management.entity.mallBo.GoodsSpeciFication">
        select * from mall_price_and_specification where goods_id = #{id}
    </select>
    <select id="queryGoodsSpeciFicationById" parameterType="int" resultType="com.guanghe.management.entity.mallBo.GoodsSpeciFication">
        select * from mall_price_and_specification WHERE sku=#{id}
    </select>
    <insert id="addGoodsSpeciFication" parameterType="map">
        insert into mall_price_and_specification (price, state,goods_id,specification,preferential_start_time,preferential_end_time,stock,preferential_price,sale_count) values
        <foreach collection="speciFication" item="item" index="index" separator="," >
            (#{item.price},#{item.state},#{item.goodsId},#{item.specification},#{item.preferentialStartTime},#{item.preferentialEndTime},#{item.stock},#{item.preferentialPrice},#{item.saleCount})
        </foreach>
    </insert>
    <delete id="deleteGoodsSpeciFication" parameterType="int">
        DELETE FROM mall_price_and_specification WHERE sku = #{id}
    </delete>

</mapper>