<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.guanghe.management.dao.WealthManagementDetailsDao">

    <select id="queryWealthManagementDetails" resultType="com.guanghe.management.entity.bo.WealthManagementDetailsBO">
        SELECT * FROM gh_wealth_management_details
    </select>

    <update id="updateWealthManagement" parameterType="com.guanghe.management.entity.bo.WealthManagementDetailsBO">
        UPDATE gh_wealth_management_details  SET img_url = #{imgUrl},
        update_time = NOW()
    </update>
</mapper>